.radio-button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #c8c9cc;

    // background-image: url(img/checked.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}